{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
	
    <!-- >>>>>>>>>>>>>>>> Message Now Area Start <<<<<<<<<<<<<<<< -->
    <section class="message_now_area section_padding_30" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <!-- Message Title -->
                    <div class="message_title m-bottom-15">
                        <!-- Section Heading Start -->
                        <div class="section_heading">
                            <h3 class="mb-3">Addition Form</h3>
                            <p>Generate a randomized set of addition problems as a pdf worksheet.</p>
                        </div>
                    </div>

                    <div class="contact_from">
                        <form id="main_contact_form" method="POST" action="/grade-it/">
                            {% csrf_token %}
                            
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">

                                <div class="row justify-content-md-center">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-6 col-12">
                                        <div id="success_fail_info">{{ form.non_field_errors }}</div>
                                        <div class="form-group">
                                            {{ form.problem_count.errors }}
                                            <label for="{{ form.problem_count.id_for_label }}">Enter the number of problems for the worksheet <p>(between 2 and 30)</p></label>
                                            {{ form.problem_count }}
                                        </div>
        
                                        <div class="form-group">
                                            {{ form.min_val.errors }}
                                            <label for="{{ form.min_val.id_for_label }}">Enter the minimum value to use on the worksheet <p>(negative numbers are allowed)</p></label>
                                            {{ form.min_val }}
                                        </div>
                                    <!-- Single Input Area Start -->
                                        <div class="form-group">
                                            {{ form.max_val.errors }}
                                            <label for="{{ form.max_val.id_for_label }}">Enter the maximum value to use on the worksheet</label>
                                            {{ form.max_val }}
                                        </div>
                                    <!-- Single Input Area Start -->

                                        <div class="form-group">
                                            {{ form.qr.errors }}
                                            <label for="{{ form.qr.id_for_label }}" class="custom-control custom-checkbox">
                                                {{ form.qr }}
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Include a QR encoded answer key.</span>
                                            </label>
                                        </div>
                                        <button type="submit" id="create-form" class="btn btn-success btn-pill">Create the Form</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Message Now Area Start <<<<<<<<<<<<<<<< -->

{% endblock content %}
{% block js_scripts %}
    <script>
        $('#create-form').click( event => {
            //event.preventDefault();
            let problem_count = $('#problem_count').val();
            let min_val = $('#min_val').val();
            let max_val = $('#max_val').val();
            let qr = $('#qr').val()
            data = {
                qr : qr,
                problem_count : problem_count,
                min_val : min_val,
                max_val : max_val
            }
            console.log("Prob Count: " + problem_count + " min_val: " + min_val + " max_val: " + max_val + "")
            /*.ajax({
                type: "POST",
                url: '',
                data: data,
                success: success,
                dataType: dataType
            });*/
        });
        
    </script>

{% endblock js_scripts %}